body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  color: white;
  text-align: center;
  width: 100%;
  background-color: #4CAF50;
  font-size: 7px;
}

#header2 {
  color: black;
  text-align: center;
  width: 100%;
  font-size:10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 3000px;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

#input-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height:730px;
  margin-right: 20px;
}
#input-section * {
  line-height: 1;
}

#room-input-container,
#navigation-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 20px;
}

#room-input-container input {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#room-input-container button,
#navigate-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

#room-input-container button:hover,
#navigate-button:hover {
  background-color: #45a049;
}

#start-point-container,
#destination-container {
  flex: 1;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

select,
#start-floor-buttons,
#destination-floor-buttons {
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

#block-buttons button,
#floor-buttons button,
#start-floor-buttons button,
#destination-floor-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

#block-buttons button {
  background-color: #4CAF50;
}

#floor-buttons button {
  background-color: #2196F3;
}

#start-floor-buttons button {
  background-color: #FF9800;
}

#destination-floor-buttons button {
  background-color: #9C27B0;
}

#map-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  height:700px;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#map-section img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

#map-container {
  width: 1800px;
  height: 700px;

}
.map-image {
  width: 200px; 
  height: 200px; 
  border: 1px solid #ddd;
  border-radius: 8px;
}

#instructions-container {
  background: #fff;
  padding: 20px;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-right: 20px;
}

#instructions-container p {
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;

}
